body {
  margin: 10px;
  padding: 10px;
}

header {
  background-color: #179b17;
  color: inherit;
  background-image: url("../images/flywheel.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 18px 30px;
}

/* Head Styling -------------------- */
h1 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

h2 {
  color: #007500;
  background-color: inherit;
}

/* Section Styling -------------------- */
section {
  display: inline-block;
  padding: 10px;
  margin: 0 50px;
}

.right {
  display: inline-block;
  width: 70%;
}

.left {
  display: block;
  width: 20%;
  height: 75vh;
  float: left;
  background-color: #e0e0e0;
  color: inherit;
  margin: 0 auto;
}

.left img {
  display: block;
  width: 70%;
  border: 5px solid #007500;
  border-radius: 10px;
  margin: 2em auto;
}

/* Link Styling -------------------- */
a {
  background-color: #ffffff65;
  color: #007500;
}

nav a {
  display: inline-block;
  margin: 10px;
  padding: 11px 20px;
  border: solid 1px #bbb;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
}

.active {
  color: #fff;
  background-color: #007500;
}