body {
  margin: 10px;
  padding: 10px;
}

header {
  background-color: #179b17;
  color: inherit;
  background-image: url("../images/flywheel.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 18px 30px;
}

/* Head Styling -------------------- */
h1 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
}

h2 {
  color: #007500;
  background-color: inherit;
}

/* Section Styling -------------------- */
section {
  display: inline-block;
  padding: 10px;
  margin: 0 50px;
}

.right {
  display: inline-block;
  width: 70%;
}

.left {
  display: block;
  width: 20%;
  height: 75vh;
  float: left;
  background-color: #e0e0e0;
  color: inherit;
  margin: 0 auto;
}

.left img {
  display: block;
  width: 70%;
  border: 5px solid #007500;
  border-radius: 10px;
  margin: 2em auto;
}

/* Link Styling -------------------- */
a {
  background-color: #ffffff65;
  color: #007500;
}

nav a {
  display: inline-block;
  margin: 10px;
  padding: 11px 20px;
  border: solid 1px #bbb;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
}

.active {
  color: #fff;
  background-color: #007500;
}

/* Table Styling -------------------- */
#Team {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  width: 80%;
  font-family: "Source Sans Pro", sans-serif;
}

table {
  border-collapse: separate;
  border-left: 0;
  border-radius: 10px;
  border-spacing: 0px;
}

thead {
  border: 1px solid #1aa51a;
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  border-collapse: separate;
}

th {
  border: solid 1px #1aa51a;
  border-bottom: solid 4px #4b4b4b;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #1aa51a;
  color: #fff;
}

td, tr {
  border: solid 1px #ddd;
  text-align: center;
}

td {
  padding: 8px 12px;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  opacity: 0.8;
}

table tr:nth-child(even) {
  background-color: #ddd;
  color: inherit;
}

/* Row changes color when hovered */
tr td{
  text-align: center;
  border-radius: 2px;
  padding: 1%;
  transition: 1s;
}

tr td:hover{
  background-color: #bcf5bc;
  color: inherit;
  opacity: 0.95;
  transform: scaleX(0.99);
  border-color: #bbb;
}

/* Align left for the first column */
.table-left {
  text-align: left;
  padding-left: 16px;
  width: 50%;
}

/* Border radius for the table */
table th:first-of-type {
  border-top-left-radius: 10px;
}

table th:last-of-type {
  border-top-right-radius: 10px;
}

table tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 10px;
}

table tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 10px;
}